@import "../../../constants/variables.scss";

.Navigate{
  margin-left: auto;
  margin-right: 20px;

  .List{
    @include flexible();
    list-style-type: none;
    column-gap: 12px;

    a{
      text-decoration: none;
      color: $Black;
      &:hover{
        font-weight: bold;
      }
      &:active{
        font-weight: bold;
      }
    }
  }
}