@import "../../../constants/variables.scss";

.RadioBox {
  @include flexible ();
  height: 100%;
  flex-direction: column;
  width: 8%;
  min-width: 80px;
  border: 1px solid #000000;

  .RadioBtn, .ActiveRadioBtn {
      @include fullSize ();
      text-align: center;
      cursor: pointer;
  }

  .ActiveRadioBtn {
    background-color: $Black;
    color: $White;
  }

  .RadioBtn {
    color: $Black;
    &:hover {
      background-color: #A64B05;
      color: $White;
    }
  }

  .Underlined{
    border-bottom: 2px solid $Black;
  }
}
