button {
  padding: 0;
  margin: 0;
  background: #FF9A4C;
  color: #000000;
  font-size: 20px;
  text-align: center;
  width: 8%;
  min-width: 90px;
  height: 100%;
  border: 1px solid #000000;
  border-right-width: 3px;
  cursor: pointer;
  border-radius: 0px 14px 14px 0px;
}

button:hover {
  color: #ffffff;
  box-shadow: inset 0px 0px 4px 0px #000000;
}