@import '../../../constants/variables.scss';

.MovieList {
  @include flexible();
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px 0;

  .MovieCard:hover{
      box-shadow: 0px 0px 20px 4px $BackgroundOrange;
      margin: 0 2px;
      transition: margin 0.3s;
      border: 0.1px solid black;
      border-radius: 2%;
    }

  .MovieCard {
    border-radius: 2%;
    background-color: $Black;
    box-shadow: 0px 0px 20px 0px black;

    .Movie {
      @include flexible();
      flex-direction: column;
      color: $White;
      text-overflow: ellipsis;

      img {
        width: 100%;
        max-height: 450px;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
      }
    }
  }
}