@import '../../../constants/variables.scss';

.MainHeader {
  @include flexible ();
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  background-color: #ffb57340;
  color: black;
  &:hover {
    background-color: $Black;
    color: $White;
    transition: background-color 0.2s;
  }

  .Focus {
    color: $BackgroundOrange;
    transition: color 0.2s;
  }

  .Find {
    .Count {
      font-family: "RobotoMedium", sans-serif;
      font-size: 18px;
    }
  }

  .Sorting {
    @include flexible ();
    column-gap: 20px;

    .Name, .Genre {
      font-family: "RobotoMedium", sans-serif;
      font-size: 18px;
      &:hover {
        color: $BackgroundOrange;
        transition: color 0.2s;
      }
    }

    .Dates {
      @include flexible ();
      column-gap: 20px;
      font-family: "RobotoMedium", sans-serif;
      font-size: 18px;

      .Date:hover {
        color: $BackgroundOrange;
        transition: color 0.2s;
        font-weight: 600;
      }
    }
  }
}