@import '../../constants/variables.scss';

.MovieDetails {
  color: $White;
  background-color: $Black;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  position: absolute;

  .SiteName {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;

    .Icon {
      //filter: invert(62%) sepia(38%) saturate(7436%) hue-rotate(1deg) brightness(104%) contrast(106%);
      display: none;
    }

    .Name {
      color: $White;
      text-decoration: underline $BackgroundOrange;
      font-size: 26px;
    }

    button {
      border-right-width: 0;
      border-radius: 14px 0px 14px 0;

    }
  }

  .Film {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 30px;
    padding-bottom: 20px;

    .Image {
      max-height: 360px;
    }

    .Details {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      row-gap: 10px;
      font-size: 18px;

      .Name {
        color: $BackgroundOrange;
        font-weight: 700;
      }
    }
  }
}
